*~
*.a
acinclude.m4
aclocal.m4
autom4te.cache
build
.c9
CMakeLists.txt
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
coverage.info
.deps
.dirstamp
docs/**/entities.*.xml
gmon*
.idea
install-sh
*.la
.libs
libtool
*.lo
*.log
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
*.mem
missing
mkinstalldirs
modules
nbproject
*.o
*.out
.php-version
.*project
reports/
run-tests.php
.settings
specs
test_coverage/
test.php
tests/**/*.diff
tests/**/*.exp
tests/**/*.php
tests/**/*.mem
tests/**/*.sh
tests/**/phpt.*
tmp-php.ini
